.denis-layout .text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.denis-layout a,
.denis-layout a:visited {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: auto;
  -webkit-text-decoration-skip: ink;
  text-underline-offset: 2px;
}

.denis-layout a:hover,
.denis-layout a:focus,
.denis-layout a:active {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: currentColor;
}